[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pylint-django = "*"

[packages]
django = "==3.1"
factory-boy = "*"
djangorestframework = "*"
django-rest-auth = "==0.9.5"
django-allauth = "*"
coreapi = "==2.3.3"
pyyaml = "==5.1.2"

[requires]
python_version = "3.8"
