[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pylint-django = "*"

[packages]
django = "==3.1"
factory-boy = "*"
django-rest-auth = "==0.9.5"
django-allauth = "*"
coreapi = "==2.3.3"
pyyaml = "==5.1.2"
drf-yasg = {extras = ["validation"], version = "*"}
djangorestframework = "==3.11"
dj-database-url = "*"
django-extensions = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
